@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
  
  --color-tactical-bg: #0f172a;
  --color-tactical-panel: #1e293b;
  --color-tactical-border: #334155;
  --color-tactical-accent: #3b82f6;
  --color-tactical-alert: #ef4444;
  --color-tactical-warning: #f59e0b;
}

body {
  background-color: var(--color-tactical-bg);
  color: #f8fafc;
}
